<div class="cube">
        <img class="cube" src={{imageUrl}}>
        <p class="name">{{name}}</p>
        <p><span>{{description}}</span></p>
        <p> Price: {{price}}USD</p>
        <a class="btn" href="/details/{{id}}">Details</a>
</div>